.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px;
  }
  
  .input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    border-right: 0;
    color: #888;
  }

  .input-group input{
    border: none;
    border-right: 1px solid #ccc;
  }

  .placeholder-color::placeholder {
    color: #888; 
  }
  